@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .temp-result-container {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 15px;
    width: 100px;
    text-align: center;
    color: theme('colors.gray.800');
    background-color: theme('colors.gray.400');
  }

  .temp-input-txt {
    border-radius: 15px;
    font-size: 20px;
    @apply outline-none p-4 shadow-none border-2 border-solid border-pink-300;
  }

  .btn-gradient-indigo-to-pink {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-gray-200 font-bold py-3 px-6 rounded-lg;
  }

  .bg-gradient-indogo-to-pink {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }

  @keyframes rainbowWave {
    0% {
      color: #ff0000; /* Rouge */
    }
    25% {
      color: #ffa500; /* Orange */
    }
    50% {
      color: #ffff00; /* Jaune */
    }
    75% {
      color: #00ff00; /* Vert */
    }
    100% {
      color: #0000ff; /* Bleu */
    }
  }

  .rainbow-wave {
    animation: rainbowWave 5s infinite;
  }
}
